<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle align="right">
      <ion-icon name="more"></ion-icon>
    </button>
    <ion-title>Cool weather</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid class="current-forecast"
            *ngIf="isGetFifeDayForecast"
            [style.background]="fiveDayForecast[0].backgroundColor"
            [style.color]="fiveDayForecast[0].fontColor">
    <ion-row>
      <ion-col col-3 offset-1>
        <span class="city-name">{{selectedCity}}</span>
        <br>
        <span class="current-temperature">{{fiveDayForecast[0].main.temp}}&#176;C</span>
      </ion-col>
      <ion-col col-2 offset-2>
        <i [class]="fiveDayForecast[0].icon"></i>
      </ion-col>
      <ion-col col-4>
        <p class="weather-title">{{fiveDayForecast[0].weather[0].main}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-5 offset-1>
        <span class="weather-humidity">Humidity: {{fiveDayForecast[0].main.humidity}}%</span>
        <br>
        <span class="weather-wind">Wind: {{fiveDayForecast[0].wind.speed}} Mph</span>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list class="forecast-list" *ngIf="isGetFifeDayForecast">
    <button ion-item>
      <ion-grid>
        <ion-row>
          <ion-col col-2>
            <ion-avatar class="forecast-list__icon">
              <i [class]="fiveDayForecast[0].icon"></i>
            </ion-avatar>
          </ion-col>
          <ion-col col-7>
            <h2 class="forecast-list__title">Today</h2>
            <p class="forecast-list__description">{{fiveDayForecast[0].weather[0].description}}</p>
          </ion-col>
          <ion-col col-3>
            <span class="forecast-list__temperature">{{fiveDayForecast[0].main.temp}}&#176;C</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </button>
    <button ion-item>
      <ion-grid>
        <ion-row>
          <ion-col col-2>
            <ion-avatar class="forecast-list__icon">
              <i [class]="fiveDayForecast[8].icon"></i>
            </ion-avatar>
          </ion-col>
          <ion-col col-7>
            <h2 class="forecast-list__title">Tomorow</h2>
            <p class="forecast-list__description">{{fiveDayForecast[8].weather[0].description}}</p>
          </ion-col>
          <ion-col col-3>
            <span class="forecast-list__temperature">{{fiveDayForecast[8].main.temp_max}}&#176;C</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </button>
    <button ion-item>
      <ion-grid>
        <ion-row>
          <ion-col col-2>
            <ion-avatar class="forecast-list__icon">
              <i [class]="fiveDayForecast[16].icon"></i>
            </ion-avatar>
          </ion-col>
          <ion-col col-7>
            <h2 class="forecast-list__title">{{getTomorrowDayName()}}</h2>
            <p class="forecast-list__description">{{fiveDayForecast[16].weather[0].description}}</p>
          </ion-col>
          <ion-col col-3>
            <span class="forecast-list__temperature">{{fiveDayForecast[16].main.temp_max}}&#176;C</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </button>
    <ion-item class="forecast-btn">
      <button ion-button full large color="primary">5 day forecast</button>
    </ion-item>
  </ion-list>

  <ion-card class="forecast-details" *ngIf="isGetFifeDayForecast">
    <ion-card-header class="forecast-details__header">
      Details
    </ion-card-header>
    <ion-card-content class="forecast-details__content">
      <ion-grid class="content-grid">
        <ion-row>
          <ion-col class="content-grid__clouds">
            <p class="color-777">CLOUDS</p>
            <p>{{fiveDayForecast[0].clouds.all}}%</p>
          </ion-col>
          <ion-col class="content-grid__pressure">
            <p class="color-777">PRESSURE</p>
            <p>{{fiveDayForecast[0].main.pressure}} mb.</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="content-grid__wind">
            <p class="color-777">WIND</p>
            <p>
              {{fiveDayForecast[0].wind.speed}} Mph,
              {{(fiveDayForecast[0].wind.deg >= 270 || fiveDayForecast[0].wind.deg <= 45) ?
              "Eastern": ((fiveDayForecast[0].wind.deg >= 45 || fiveDayForecast[0].wind.deg <= 135) ?
              "Norhten" : ((fiveDayForecast[0].wind.deg >= 135 || fiveDayForecast[0].wind.deg <= 225) ?
              "Western" : "Southen"))}}
            </p>
          </ion-col>
          <ion-col class="content-grid__humidity">
            <p class="color-777">HUMIDITY</p>
            <p>{{fiveDayForecast[0].main.humidity}}%</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <div class="spinner-wrapper" *ngIf="!isGetFifeDayForecast">
    <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66">
      <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
    </svg>
  </div>
</ion-content>
