@import url('../assets/weather-icons/css/weather-icons.css');

.current-forecast {
  color: white;
  font-size: 26px;
  font-weight: 300;
}

.city-name {
  padding: 5px 0;
  font-size: 20px
}

.wi {
  font-size: 45px;
  padding: 10px 0;
}

.weather-title {
  font-size: 20px;
  padding: 0 10px;
}

.weather-humidity {
  font-size: 18px;
}

.weather-wind {
  font-size: 18px;
}

.forecast-btn {
  padding-left: 15px !important;
}

.forecast-list {

}

.forecast-list button {
  padding-left: 0;
}

.forecast-list__icon i {
  color: #444;
  padding: 5px 10px;
  font-size: 32px;
  font-weight: 200;
}

.forecast-list__title {
  padding: 0 10px 0;
  font-weight: 200;
  font-size: 24px;
  color: #222
}

.forecast-list__description {
  padding: 0 10px;
  font-weight: 200;
  font-size: 20px;
}

.forecast-list__temperature {
  font-size: 26px;
  font-weight: 200;
}

.forecast-details {
  border: 1px solid #eee;
}

.forecast-details__header {
  color: #444;
  font-weight: 300;
  border-bottom: 1px solid #eee;
}

.forecast-details__content {
  padding: 0;
}

.content-grid {
  padding: 0;
}

.content-grid__clouds {
  text-align: left;
  padding: 10px 20px;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.content-grid__pressure {
  text-align: left;
  padding: 10px 20px;
  border-bottom: 1px solid #eee;
}

.content-grid__wind {
  text-align: left;
  padding: 10px 20px;
  border-right: 1px solid #eee;
}

.content-grid__humidity {
  text-align: left;
  padding: 10px 20px;
}

.color-777 {
  color: #777 !important;
  font-size: 12px !important;
}

.spinner-wrapper {
  margin-top: 20px;
  text-align: center;
}

.spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 60px;
  height: 60px;

  & .path {
    stroke: hsl(210, 100, 75);
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite, colors 6s infinite;
  }

}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

@keyframes colors {
  0% {
    stroke: hsl(0, 100, 50);
  }
  25% {
    stroke: hsl(0, 100, 50);
  }
  26% {
    stroke: hsl(50, 100, 45);
  }
  50% {
    stroke: hsl(50, 100, 45);
  }
  51% {
    stroke: hsl(100, 100, 30);
  }
  75% {
    stroke: hsl(100, 100, 30);
  }
  76% {
    stroke: hsl(190, 100, 37);
  }
  100% {
    stroke: hsl(190, 100, 37);
  }
}


.no-connection-title {
  padding: 0;
  font-size: 32px;
  color: #616161;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  text-align: center;
}

.valid-time {
  font-size: 16px;
  padding-bottom: 10px;
  margin: 0 auto;
}

.swipe-for-refresh {
  font-size: 14px;
  color: #999;
  text-align: center;
}
