@import url('../assets/weather-icons/css/weather-icons.css');

.current-forecast {
  color: white;
  font-size: 26px;
  font-weight: 300;
}

.city-name {
  padding: 5px 0;
  font-size: 20px
}

.wi {
  font-size: 45px;
  padding: 10px 0;
}

.weather-title {
  font-size: 20px;
  padding: 0 10px;
}

.weather-humidity {
  font-size: 18px;
}

.weather-wind {
  font-size: 18px;
}

.forecast-btn {
  padding-left: 15px !important;
}

.forecast-list {

}

.forecast-list button {
  padding-left: 0;
}

.forecast-list__icon i {
  color: #444;
  padding: 5px 10px;
  font-size: 32px;
  font-weight: 200;
}

.forecast-list__title {
  padding: 0 10px 0;
  font-weight: 200;
  font-size: 24px;
  color: #222
}

.forecast-list__description {
  padding: 0 10px;
  font-weight: 200;
  font-size: 20px;
}

.forecast-list__temperature {
  font-size: 26px;
  font-weight: 200;
}

.forecast-details {
  border: 1px solid #eee;
}

.forecast-details__header {
  color: #444;
  font-weight: 300;
  border-bottom: 1px solid #eee;
}

.forecast-details__content {
  padding: 0;
}

.content-grid {
  padding: 0;
}

.content-grid__clouds {
  text-align: left;
  padding: 10px 20px;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.content-grid__pressure {
  text-align: left;
  padding: 10px 20px;
  border-bottom: 1px solid #eee;
}

.content-grid__wind {
  text-align: left;
  padding: 10px 20px 0;
  border-right: 1px solid #eee;
}

.content-grid__humidity {
  text-align: left;
  padding: 10px 20px 0;
}

.color-777 {
  color: #777 !important;
  font-size: 12px !important;
}

.spinner-wrapper {
  padding-top: 20px;
  text-align: center;
}

$offset: 187;
$duration: 1.4s;

.spinner {
  animation: rotator $duration linear infinite;
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.path {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash $duration ease-in-out infinite,
             colors ($duration*4) ease-in-out infinite;
}

@keyframes colors {
  0% { stroke: #2196F3; }
  25% { stroke: #f44336; }
  50% { stroke: #FFEB3B; }
  75% { stroke: #4CAF50; }
  100% { stroke: #2196F3; }
}

@keyframes dash {
  0% { stroke-dashoffset: $offset; }
  50% {
    stroke-dashoffset: $offset/4;
    transform:rotate(135deg);
  }
  100% {
    stroke-dashoffset: $offset;
    transform:rotate(450deg);
  }
}
