.current-forecast {
  color: white;
  font-size: 26px;
  font-weight: 300;
}

.city-name {
  padding: 5px 0;
  font-size: 20px
}

.current-temperature {
}

.weather-icon {
  font-size: 50px;
  padding: 5px 0;
}

.weather-title {
  font-size: 20px;
}

.weather-humidity {
  font-size: 18px;
}

.weather-wind {
  font-size: 18px;
}
